- last_appeal = ticket.ticket_logs.appeal.last || ticket.parent.ticket_logs.appeal.last

- if last_appeal.present?
  .no-print

    .row.justify-content-center.mt-4
      .col-xl-10.col-12

        .alert.alert-warning.alert-dismissible.fade.show{ role: 'alert' }

          .m-2

            %h3.row.justify-content-center
              %i.fa.fa-exclamation-triangle
              %span.pl-2
                = t('.title', count: ticket.appeals)

            .content-with-label
              %p.content-label
                = t('.justification')
              %p.content-value
                = raw(last_appeal.description)
