.p-2.small
  %pre= t('.instructions')
  %pre.bg-gray
    %code= t('.template')

- # O html que está no arquivo .yml foi gerado pelo código abaixo
- # A tag <template> faz com que o conteúdo abaixo não seja exibido
%template
  .row
    .col-12
      .card.card-collapse
        #headingOne.card-header.collapse-icons
          %h3.card-title
            = link_to "#collapse_1", class: "btn btn-primary btn-link", 'data-toggle': "collapse", role: "button", aria: { expanded: 'false', controls: 'collapse_1' } do
              [COLOQUE O TÍTULO AQUI]
              .fa.fa-caret-down.card-collapse-icon-down
              .fa.fa-caret-up.card-collapse-icon-up

        #collapse_1.card-block.collapse{ 'aria-labelledby': "collapse_1" }
          .card-body
            %p
              [COLOQUE O CONTEÚDO AQUI]
