-# - content_for :breadcrumbs, render_breadcrumbs(breadcrumbs)

- content_for :javascript, javascript_include_tag(javascript)
- content_for :stylesheet, stylesheet_link_tag(stylesheet)

%h2.font-weight-bold
  = t('ppa.revision.prioritizations.edit.title')

%hr.border-2
%label.text-justify{ style: 'font-size: 14px' }
  = t('ppa.revision.prioritizations.edit.description').html_safe

= simple_form_for resource, url: ppa_revision_prioritization_path, html: { id: 'msform' } do |f|

  -# MultiStep Form
  = render "shared/ppa/revision/multistep_form", f: f
