- content_for :title, t('.title')
- content_for :breadcrumbs, render_breadcrumbs(breadcrumbs)
- content_for :stylesheet, stylesheet_link_tag(stylesheet)

.content-detail

  .card.card-custom

    .card-header

      %h3.card-title
        = t(".title")

    .card-block

      = render 'form', mobile_app: mobile_app
