-# O BaseController renderiza a partial `_index` para requisições XHR.
-# como Notifications fica em shared e já tem a `_index`, vamos "renomear" para `_index_content`
= render 'shared/notifications/index_content', namespace: :admin
