= link_to feedback_operator_call_center_ticket_path(ticket), method: :patch, data: { confirm: t('.confirmation') }, class: 'btn btn-link btn-print hover-link d-inline-block' do
  %i.fa.fa-check{ 'aria-hidden': 'true' }
  = t('.title')
