%tr
  %td
    = account.conta_corrente
  %td
    = number_to_currency(account.valor_inicial)
  %td
    = number_to_currency(account.valor_debito)
  %td
    = number_to_currency(account.valor_credito)
