- content_for :breadcrumbs, render_breadcrumbs(breadcrumbs)
- content_for :title, t(".title")

- stats_url = transparency_expenses_consortium_transfers_path(show_stats: true)
- filter_path = 'expenses/consortium_transfers'

= render 'shared/transparency/index', transparency_id: :expenses_consortium_transfers, stats_type: :year, stats_url: stats_url, base_locale: t('.'), filter_path: filter_path
