- content_for :breadcrumbs, render_breadcrumbs(breadcrumbs)
- content_for :title, consortium_transfer.title

%h2.sr-only
  = t('.title')

= render 'shared/transparency/expenses/neds/show', ned: consortium_transfer
