.row

  .col-12.col-md-1.no-print

    .float-left

      .bg-faded.rounded-circle.p-1

        %i.fa.fa-pencil.fa-1x.text-muted.m-2{ 'aria-hidden': 'true' }

  .col-12.col-md-11.pt-3.pt-md-1

    .text-muted

      %h4.h6.mb-0
        = raw(ticket_log.resource.description)

      %small
        %em
          - date = l(ticket_log.created_at, format: :shorter)
          - author = ticket_log.responsible.as_author

          = t('.title', title: author, date: date)


%hr{'aria-hidden': 'true'}
