- content_for :title, t(".title", ticket_title: ticket.title)
- content_for :breadcrumbs, render_breadcrumbs(breadcrumbs)

.row

  .col-12

    .card.card-custom

      .card-header

        %h2.card-title
          = t(".title", ticket_title: ticket.title)

      .card-block

        .content

          = render 'form'
