- content_for :title, t('.title')
- content_for :breadcrumbs, render_breadcrumbs(breadcrumbs)

.content-detail

  .card.card-custom

    .card-header

      %h2.card-title
        = t(".title")

    .card-block

      = render 'form', ppa_plan: ppa_plan, url: ppa_admin_plan_path(ppa_plan)
