.alert.alert-success.fade.show{ role: 'alert' }


  .row

    .col-12.text-center.justify-content-center

      %h2
        %i.fa.fa-info-circle{ 'aria-hidden': 'true' }
        = t('.title')

  .row

    .col-lg-12.mt-3

      %p.text-muted
        = raw t(".description")
