- content_for :breadcrumbs, render_breadcrumbs(breadcrumbs)
- content_for :title, t(".title")

- stats_url = transparency_contracts_management_contracts_path(show_stats: true)
- filter_path = 'contracts/management_contracts'

= render 'shared/transparency/index', transparency_id: :contracts_management_contracts, stats_type: :month, stats_url: stats_url, base_locale: t('.'), filter_path: filter_path
