@import 'bootstrap/variables';
@import 'components/svg-map/svg-map';

.label-colon {
  &:after {
    content: ':';
    margin-left: -2px;
  }
}

.text-shadow {
  text-shadow: 0px 2px 2px #00000066;
}

.shout {
  font-size: 4rem;
}

.ppa-counter {
  //padding: 6.5rem 0;
  box-shadow: inset 0px 0 100px 5px #00000059;
  min-height: 400px;
}

.ppa-map {
  width: 100%;
  height: 384px;
  margin-bottom: -7px;
}

.ppa-home-headline {
  background-image: asset_url('views/transparency/navbar-banner.jpg');
  height: 308px;
  margin-top: -122px;
  background-repeat: repeat-x;
  background-position: bottom center;
  padding-top: 100px;
}

.card-map-container {
  position: relative;
}

.card-map-region-info {
  position: absolute;
  top: 40px;
  right: 20px;
  width: 40%;
}

.card-deck {
  .collapse {
    display: none;
    &.show {
      display: block;
    }
  }
}

.btn-start-revising {
  font-size: 1.50em;
}


@media (max-width: map-get($grid-breakpoints, "sm")) {
  .ppa-counter {
    padding: 3.5rem 0;
  }
}
