#transparency.container.collapse.navbar-dropdown
  .navbar-submenu.rounded-bottom
    = render 'shared/navbar/transparency_menu'

#tickets.container.collapse.navbar-dropdown
  .navbar-submenu.rounded-bottom
    = render 'shared/navbar/tickets_menu'

#information.container.collapse.navbar-dropdown
  .navbar-submenu.rounded-bottom
    = render 'shared/navbar/information_menu'

#ppa.container.collapse.navbar-dropdown
  .navbar-submenu.rounded-bottom

#services.container.collapse.navbar-dropdown
  .navbar-submenu.rounded-bottom
    = render 'shared/navbar/services_menu'
