@import 'base/variables';

.table {

  thead {
    th {
      background-color: $table-green-light;
      color: $table-green-text;
    }
  }

  tbody {
    tr {
      background-color: $table-gray-light;
    }
  }
}
