- #
- # Compartilhamento (Ouvidorias setoriais envolvidas)
- #
= render partial: "shared/tickets/sharings", ticket: ticket, ticket_children: ticket_children

- #
- # Encaminhamento
- #
= render partial: "shared/tickets/forwards", ticket: ticket
