- #
- #
- # Avaliação interna da resposta do orgão no chamado
- #
- #

- # A avaliação interna SOU utiliza os mesmos arquivos da avaliação SIC, por isso o render abaixo
= render 'shared/tickets/confirmed_operator/attendance_evaluations', ticket: ticket
