- if current_user.call_center?
  .row

    .col-12
      .card.card-custom

        .card-header

          %h2.card-title

            = link_to t(".title"), operator_call_center_tickets_path

        .card-block

          .row

            .col-md-3.col-sm-12.pb-4.col-lg-4
              = link_to operator_call_center_tickets_path(call_center_status: :waiting_feedback) do

                .attendance-stats.attendance-status{'data-status': :waiting_feedback}

                  %h3.attendance-stats-title
                    = t(".stats.waiting_feedback")

                  %p.attendance-stats-count
                    = attendance_waiting_feedback_count(current_user)
