- content_for :javascript, javascript_include_tag(javascript)

.row
  .col-lg-12
    .card.card-custom
      
      .card-block.mt-4.text-center
        %h1.text-success= t('.title')
        %strong= t('.description')


        .row
          .col-lg-12.mt-4
            %label= t('.description_redirect')

