- content_for :stylesheet, stylesheet_link_tag(stylesheet)
- content_for :breadcrumbs, render_breadcrumbs(breadcrumbs)
- content_for :title, t('.title')

%h2.sr-only
  = t('.title')

%section.row.mt-5.text-gray{'aria-labelledby': 'sections'}

  %h3.sr-only{id: 'sections'}
    = t('.sections.title')

  = render 'cards'
