- content_for :title, t('.title')
- content_for :breadcrumbs, render_breadcrumbs(breadcrumbs)

.content-detail

  .card.card-custom

    .card-header

      %h2.card-title
        = t('.title')

    .card-block

      = render 'form', url: ppa_admin_revision_schedules_path(ppa_revision_schedule) , method_req: :post
