.card-commands {
  .dropdown {
    .dropdown-toggle {
      padding: 0.4em;
      color: #292b2c;

      &:after {
        content: none;
      }
    }

    .dropdown-menu {
      a {
        display: block;
        padding: 3px 20px;
        clear: both;
        color: #636c72;
        white-space: nowrap;
        font-size: 11px;
        text-decoration: none;
        width: 100%;
        text-align: left;

        &:hover {
          color: #262626;
          text-decoration: none;
          background-color: #f5f5f5;
        }
      }
    }
  }
}


