- content_for :title, t('.title')
- content_for :breadcrumbs, render_breadcrumbs(breadcrumbs)

.row

  .col-12

    .card.card-custom

      .card-header

        %h2.card-title
          = operator_cge?(current_user)? t('.title') : t('.title_request')

      .card-block

        .content

          = render 'form', ticket: ticket
