= link_to t('.label'), new_operator_attendance_path(clone_id: attendance), method: :get, title: t('.title'), data: { confirm: t('.confirm') }, class: 'btn text-muted btn-link hover-link d-inline-block'
