- content_for :title, t('.title')
- content_for :breadcrumbs, render_breadcrumbs(breadcrumbs)
- content_for :javascript, javascript_include_tag(javascript)

.content-details{'data-auto-update': 'ticket_report', 'data-auto-update-interval': '1000'}

  = render 'show', ticket_report: ticket_report
