%ul.nav

  %li.nav-item
    = link_to t('.envelope.title'), 'https://cartadeservicos.ce.gov.br/', class: 'nav-link', target: '_blank'

  %li.nav-item
    = link_to t('.official.title'), transparency_mobile_apps_path, class: 'nav-link'

  %li.nav-item
    = link_to t('.public.title'), '/portal-da-transparencia/paginas/servicos-publicos', class: 'nav-link'

  %li.nav-item
    = link_to t('.rating.title'), services_rating_index_path, class: 'nav-link'
