%ul.nav
  %li.nav-item
    = link_to t('.tickets.title'), transparency_sou_path, class: 'nav-link'
  %li.nav-item
    = link_to t('.new.title'), new_user_session_path(ticket_type: :sou), class: 'nav-link'
  %li.nav-item
    = link_to t('.watch.title'), new_ticket_session_path, class: 'nav-link'

  - # XXX: Somente SIC estão liberados para ser públicos até a decisão da CGE
  - # %li.nav-item
  - #   = link_to t('.public.title'), transparency_public_tickets_path(ticket_type: :sou), class: 'nav-link'

  %li.nav-item
    = link_to t('.what_is.title'), '/portal-da-transparencia/paginas/ouvidoria', class: 'nav-link'
