- content_for :title, t('.title')
- content_for :breadcrumbs, render_breadcrumbs(breadcrumbs)

.content-detail

  .card.card-custom

    .card-header

      %h2.card-title
        = t(".title")

    .card-block

      = render 'form', plan: plan, ppa_workshop: ppa_workshop, url: ppa_admin_plan_workshop_path(plan, ppa_workshop)
