// Criar controler p o prioritization list
= hidden_field_tag :url_for_prioritization_step, new_prioritization_path
%i.fa.fa-spinner.fa-spin.fa-fw.fa-3x{ 'aria-hidden': 'true', 'data-content': 'loading' }
%br
%br
%br
%input.previous.action-button-previous{multisteps_previous_btn}
