- if f.object.persisted?
  = f.input :_disable, as: :boolean, input_html: { checked: f.object.disabled? }
- else
  = link_to_remove_association "", f, { class: 'fa fa-times fa-2x text-danger', 'aria-label': t('simple_form.file.remove_nested'), title: t('simple_form.file.remove_nested') }
