%hr
.row.mb-3
  .col-12
    %h3
      = t('.title')

.row
  .col-lg-6.col-sm-12
    %ul.list-unstyled
      - site_map_sou_default.each do |t|
        %li.mb-2
          = link_to t[:title], t[:link]
