- content_for :title, t('.title')
- content_for :breadcrumbs, render_breadcrumbs(breadcrumbs)

- new_path = new_admin_services_rating_export_path
- controller_name = controller.controller_name
- filter_path = admin_services_rating_exports_path

.card.card-custom

  .card-header

    %h2.card-title
      = t('.title')


  .card-block{'data-toggle': 'remote-content-with-filter-bar'}

    .remote-content{'data-remote-content': controller_name}

      - filter_new_command = { title: t('.commands.new'), path: new_path, permission: true }
      - filter_commands = { 'new': filter_new_command }
      - filter_options = { filter_id: :services_rating_exports, filter_path: filter_path, commands: filter_commands }

      = render "shared/admin/filters", filter_options

      - # o index é carregado como remote-content e está na partial ./_index

      %hr{'aria-hidden': 'true'}

      .remote-content-result{ 'data-remote-content-result': controller_name }

        .p-2.text-center.text-muted
          .fa.fa-spin.fa-refresh.mx-1
          = t('messages.loading')
