.navbar-container {
  height: auto;
  background-image: none;
}

.h-25 {
  height: 25%;
}

.h-50 {
  height: 50%;
}

.h-75 {
  height: 75%;
}

.mh-25 {
  max_height: 25%;
}

.mh-50 {
  max_height: 50%;
}

.mh-75 {
  max_height: 75%;
}

.scrolling {
  overflow-y: scroll;
}
