- content_for :title, t('.title')
- content_for :breadcrumbs, render_breadcrumbs(breadcrumbs)
- #content_for :javascript, javascript_include_tag(javascript)

= render 'form', solvability_report: solvability_report
